<style>
    h1 {
        font-size: 135px;
    }
</style>


<body class="hold-transition register-page">
    @*<div class="register-box">
        <div class="register-logo">
            <a href="#"><h1  style="text-align:center">Welcome</h1></a>
            <h2 class="center">Student Information System</h2>
        </div>
    </div>*@

    <div class="text-center">
        <div>
            <h1>Welcome</h1>
            <h2>Student Information System</h2>
        </div>
    </div>
</body>