@model IEnumerable<SIS.Models.Attendance>

@{
    ViewBag.Title = "Check Individual Attendance";
}

<h2>Select Date (Edit / Mark Back)</h2>

<br>

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.TodayDate)
        </th>
    </tr>




    @foreach (var item in ViewData["DateList"] as List<DateTime?>)
    {
        <tr>
            <td>
                @Html.ActionLink(item.Value.ToShortDateString(), "EditDate", new { id = Url.RequestContext.RouteData.Values["id"], Date = item.Value.ToShortDateString() })
            </td>
        </tr>
    }


        <tr>
            <td>
                @Html.ActionLink("None Of The Above ?", "MarkBack", new { id = Url.RequestContext.RouteData.Values["id"] }, new { onclick = "return confirm('Are you sure mark back this class attendance ?');" })
            </td>
        </tr>


</table>
