
@{
    ViewBag.Title = "TimeTable";
}

<script>
      $(document).ready(function() {
        $(".select2_single").select2({
          placeholder: "DSE"

        });
        $(".select2_group").select2({
            placeholder: "DIP"
        });
      });
</script>

<div class="box">
    <div class="box-header with-border">
        <h3 class="box-title">Search</h3>
    </div>
    <div class="box-body">
        <div class="row">
            <div class="col-xs-1">
                <label>DSE</label>
                <select class="select2_group form-control">
                    <optgroup label="2016">
                        <option>Oct</option>
                        <option>Nov</option>
                        <option>Dec</option>
                    </optgroup>
                    <optgroup label="2017">
                        <option>Jan</option>
                        <option>Feb</option>
                        <option>Mar</option>
                        <option>Apr</option>
                    </optgroup>
                </select>
            </div>
            </div>
        <div class="col-xs-1">
            <label>DIP</label>
            <select class="select2_single form-control">
                <optgroup label="2016">
                    <option>Oct</option>
                    <option>Nov</option>
                    <option>Dec</option>
                </optgroup>
                <optgroup label="2017">
                    <option>Jan</option>
                    <option>Feb</option>
                    <option>Mar</option>
                    <option>Apr</option>
                </optgroup>
            </select>
        </div>
            </div>
        </div>


@section scripts {
    <script>
      $(document).ready(function() {
        $(".select2_single").select2({
          placeholder: "DSE"

        });
        $(".select2_group").select2({
            placeholder: "DIP"
        });
      });
</script>
}